@tailwind base;
@tailwind components;
@tailwind utilities;

.card:hover .donate-btn {
    opacity: 1;
    top: 1rem; /* Adjust the value as needed to position the button */
  }
  .donate-btn {
    top: 0; /* Initial position */
  }
  .card {
    width: 24rem; /* Adjusted card width */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  

